.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.Renviron
/data-raw/raw-datasets
.httr-oauth
.DS_Store
.quarto
*.shp
*.cpg
*.prj
*.dbf
*.qmd
*.gpkg
*.shx
*.csv
*.vrt
/data-raw/temp
/data-raw/raw-datasets
docs
